.tabs {
    margin-bottom: 15px;
    padding-bottom: 12px;
    border-bottom: 2px solid lightgray;
}

.tab {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.tab:first-child {
    margin-left: 0;
}

.tab:first-letter {
    text-transform: uppercase;
}

.tab-active {
    color: #1890ff;
}