.entities-list-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.entities-list-item .entity-title {
    font-size: 18px;
}

.entities-list-item .entity-description {
    cursor: pointer;
}

.entities-list-item .entity-description:hover {
    color: #1890ff;
}