.address-field {
    z-index: 5;
    position: relative;
    width: 100%;
    font-size: 0;
}

.address-field > input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}

.address-field-clear {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 100%;
    font-size: 18px;
    cursor: pointer;
}

.address-field-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid lightgray;
    border-top: none
}

.address-field-result {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    transition: .2s background-color;
    cursor: pointer;
}

.address-field-result:hover {
    background-color: azure;
}