* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
    margin-top: 0;
}

._f {
    display: flex;
}

._w-50 {
    width: 50%;
}

._w-25 {
    width: 25%;
}

._w-75 {
    width: 75%;
}

._text-c {
    text-align: center;
}

._px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

._py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

._pb-15 {
    padding-bottom: 15px;
}

._pl-15 {
    padding-left: 15px;
}

._pr-15 {
    padding-right: 15px;
}

._mb-15 {
    margin-bottom: 15px;
}