.sticky {
    position: fixed;
    top: 15px;
    width: 100%;
}

.map-container {
    position: relative;
    height: 400px;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: lightblue;
}